<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" th:href="@{/img/favicon-96x96.png}">
    <link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">

    <title>Lista de Cursos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="bg-light">
    <div th:replace="~{fragments :: navbar}"></div>

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h3>Lista de Cursos</h3>

        </div>

        <div class="card-body">

             <!-- Volver al inicio -->
                <a th:href="@{/}" class="btn btn-secondary mb-3">← Volver</a>

            <table class="table table-bordered table-hover">

                <thead class="table-dark">

                <tr>

                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Créditos</th>
                    <th>Estado</th>
                    <th>Acciones</th>

                </tr>

                </thead>

                <tbody>

                <tr th:each="c : ${cursos}">

                    <td th:text="${c.id}"></td>

                    <td th:text="${c.nombre}"></td>

                    <td th:text="${c.codigo}"></td>

                    <td th:text="${c.creditos}"></td>

                    <td>

                        <span th:if="${c.estado}"
                              class="badge bg-success">

                            Activo

                        </span>

                        <span th:unless="${c.estado}"
                              class="badge bg-danger">

                            Inactivo

                        </span>

                    </td>

                    <td>

                        <a th:href="@{/cursos/editar/{id}(id=${c.id})}"
                           class="btn btn-warning btn-sm">

                            Editar

                        </a>


                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>

</body>

</html>